html {
	box-sizing: border-box;
	background: white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container {
	overflow: auto;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

img {
	max-width: 100%;
}
