.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	width: 100%;

	&__logo {
		width: 60px;
	}

	&__wrapper {
		display: flex;
	}

	&__item {
		padding: 8px 16px;
	}
}
